.home-image-container {
    background-size: cover;
    height: 400px;
}

.home-picture-text {
     color: white;
}

.footer {
    font-size: 11px;
    background-color: rgba(11, 13, 12, 0.74);
    padding-top: 7px;
    padding-bottom: 5px;
    color: lightgrey;
}

.bottom-shadow {
    -webkit-box-shadow: 2px 7px 18px 0px rgba(122,122,122,1);
    -moz-box-shadow: 2px 7px 18px 0px rgba(122,122,122,1);
    box-shadow: 2px 7px 18px 0px rgba(122,122,122,1);
}

.info-card {
    background-color: white;
    max-width: 250px;
    min-height: 320px;
    padding-top: 10px;
}

.info-card:hover{
    background-color: lightgrey;
}

.info-row {
    min-height: 315px;
    padding-top: 15px;
    padding-bottom: 20px;
}

p {
    overflow: hidden;
    font-size:calc(8px + .5vw);

}

#homeGuidance {
    background-color: rgba(0, 123, 255, 0.77);
    min-height: 50px;
}

#homeNewsletter {
    color: white;
    background-color: rgba(52, 58, 64, 0.77);
    min-height: 80px;
    -webkit-box-shadow: inset 2px 0px 31px 8px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 0px 31px 8px rgba(0,0,0,0.75);
    box-shadow: inset 2px 0px 31px 8px rgba(0,0,0,0.75);
}


#homeContact {
    background-color: #007bff;
    min-height: 100px;
    padding-top: 2px;
}

.tabslist {
    padding-top: 10px;
    background-color: #242424;
    border-radius: 10px !important;
}

.dynamic-panel {
    margin: 20px 50px 20px 50px;
}

.icon {
    height: 200px;
    width: 200px;
}

.icon-height {
    height: 156px;
    width: 216px;
}

.navbar .dropdown-menu {
    background-color: #343a40;
}

.navbar .dropdown.show a {
    background-color: #343a40;
    color: #007bff;
}

.navbar .dropdown.show a:hover {
    background-color: #343a40;
    color: #004cb4;
}